Cython
wheel
numpy==1.23
flask
requests
ruamel.yaml
frozendict
torch_stft
python-datautil
wrapt
wget
kaldi_io
pandas
inflect
unidecode
pyctcdecode
Flask-SocketIO==4.3.1
python-engineio==3.13.2
python-socketio==4.6.0
Flask==2.0.3
Werkzeug==2.0.3