model:
  features_extractor_params:
    global_cmvn_path: null
  num_mel_bins: 80
  subsampling_channel: 256
  subsampling_dropout: 0.15
  type_encoder: 'conformer'
  type_decoder: 'transformer'
  sinusoidal_pos_enc_style: add
  position_dropout: 0.15
  encoder_params:
    d_model: 256
    n_layers: 2
    nhead: 4
    dropout: 0.1
    conv_kernel_size: 3
    conv_mult: 2
    ffn_mult: 2
    pre_norm: True
  ctc_weight: 0.5
  ctc_linear_dropout: 0.1
  decoder_params:
    n_layers: 2
    d_model: 256
    n_head: 4
    dropout: 0.1
    pre_norm: True
  label_smoothing_weight: 0.1
  label_smoothing_normalize_length: true

dataset:
  train_filepath: data/train.txt
  valid_filepath: data/test.txt
  bpe_model_path: data/bpe_2000/bpe.model
  batch_size: 16
  num_worker: 4

train:
  output_dir: exps/test
  device: gpu
  num_epoch: 10
  warmup_steps: 25000
  lr: 0.001
  weight_decay: 0
  acc_steps: 4
  pretrained_path: null


